<div class="container medico">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="openModal()">
      <i class="bi bi-plus-square fs-5"></i>
      Adicionar Paciente
    </button>
  </div>

<div class="container mt-3">
  <h3>Ver Pacientes</h3>

  <div class="rounded d-flex align-items-center gap-2 p-3 mb-3 shadow">
    <button class="btn btn-outline-primary" (click)="exibirFiltroAvancado = !exibirFiltroAvancado">
      <i class="bi bi-filter"></i> Filtro
    </button>

    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuButton" type="button"
        data-bs-toggle="dropdown">
        {{ filtroSelecionadoLabel }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let opcao of opcoesFiltro" (click)="selecionarFiltro(opcao)">
          <a class="dropdown-item" href="#">{{ opcao.label }}</a>
        </li>
      </ul>
    </div>

    <input type="text" class="form-control border-primary w-25" placeholder="Digite sua pesquisa..."
      [(ngModel)]="valorBusca" (keyup.enter)="pesquisarDireto()">

    <button class="btn btn-primary" (click)="pesquisarDireto()">
      <i class="bi bi-search"></i> Pesquisar
    </button>
  </div>

  <div class="card p-3 shadow rounded-3 mb-3 card-width" *ngIf="exibirFiltroAvancado">
    <h5 class="mb-3">Opções de filtro</h5>
    <div class="row g-2">
      <div class="row g-2">
        <div class="col-md-3 w-100">
          <label>Paciente</label>
          <select class="form-select" [(ngModel)]="filtro.paciente" (ngModelChange)="filtrar()">
            <option value="">Todos</option>
            <option *ngFor="let paciente of pacientes" [value]="paciente.nome">{{ paciente.nome }}</option>
          </select>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-between">
        <button class="btn btn-primary" (click)="filtrar()">Aplicar</button>
        <button class="btn btn-outline-danger" (click)="exibirFiltroAvancado = false">Cancelar</button>
        <button class="btn btn-secondary" (click)="limparFiltros()">Limpar</button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading" class="d-flex justify-content-center text-primary mt-4">
    <div class="spinner-border" role="status">
    </div>
  </div>

  <div *ngIf="!isLoading && pacientes.length === 0" class="empty-table table-error">
    <i class="bi bi-emoji-expressionless-fill fs-1 text-center"></i>
    <p class="text-center text-muted">Nenhum registro encontrado.</p>
  </div>

<table *ngIf="!isLoading && pacientes.length > 0" class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Cpf</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let paciente of pacientesFiltrados;">
    <td>{{ paciente.cpf }}</td>
    <td>{{ paciente.nome }}</td>
    <td>{{ paciente.email }}</td>
    <td>
      <button class="btn btn-warning btn-sm me-1" (click)="editItem(paciente)">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-danger btn-sm" (click)="removeItem(paciente.id)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
</table>
</div>
